/* Style sheet created by:
Student's First Name:gregory
Student's Last Name:Smith
Today's Date:10/6/2022
 */
body {
    background-color: #dde3fd;
}

#container {
    padding-bottom: 500px;
}

.box {
    border: 1px solid #000;
    margin: 2%;
    padding: 2%;
    background-color: #798ef6;
    color: #091034;
    width: 400px;
    height: 170px;
}

/* sticky */
.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* relative */
.relative{
  position: relative;
  top: 70px;
left: 40px;
}

/* fixed */
.fixed{
  position: fixed;
  top: 150px;
  right: 63px;
}

/* absolute */
.absolute{
  position: absolute;
  bottom: 4;
  right: 7;
}
